# Use NGINX's non-blocking DNS resolution
resolver ${DNS_RESOLVERS};

upstream storage_urls {
    # Upstreams are not refreshed until NGINX configuration is reloaded.
    # NGINX Plus will dynamically reload upstreams when DNS records are changed.
    server ${S3_UPSTREAM};
}
