# This configuration with NGINX Plus should dynamically reload S3 backends
# as they change in DNS.

# Use NGINX's non-blocking DNS resolution
resolver ${DNS_RESOLVERS};

upstream storage_urls {
    zone s3_backends 64k;

    # Be sure to specify the port in the S3_SERVER and be sure that port
    # corresponds to the https/http in the proxy_pass directive.
    server ${S3_SERVER}:${S3_SERVER_PORT} resolve;
}
