# This configuration with NGINX Plus should dynamically reload S3 backends
# as they change in DNS.

# Use NGINX's non-blocking DNS resolution
resolver ${DNS_RESOLVERS};

upstream storage_urls {
    zone s3_backends 64k;

    server ${S3_UPSTREAM} resolve;
}
